<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorldService">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44355/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHelloWorldService" contract="TestService.IHelloWorldService"
                name="WSHttpBinding_IHelloWorldService" />
        </client>
    </system.serviceModel>
</configuration>